<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user_charity from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul>
    <li>First Name: <%= f.text_field :first_name %></li><br>
    <li>Last Name: <%= f.text_field :last_name %></li><br>
    <li>Email: <%= f.text_field :email %></li><br>
    <li>Password: <%= f.password_field :password %></li><br>
    <li>Password Confirmation: <%= f.password_field :password_confirmation %></li><br>
    <li>  <%= f.submit "Submit" %> </li>
  </ul><br>

<% end %>
