<%= form_with(model: charity, local: true) do |f| %>
  <% if charity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user_charity from being saved:</h2>

      <ul>
      <% charity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul style="list-item-style:none">
  <li>Name: <%= f.text_field :name %></li>
  <br>
  <li>Email: <%= f.text_field :email %></li>
  <br>
  <li>Password: <%= f.password_field :password %></li>
  <br>
  <li>Password Confirmation: <%= f.password_field :password_confirmation %></li>
  <br>
</ul>
 <%= f.submit "Submit" %>
<% end %>
