<%= form_with(model: charity, local: true) do |f| %>
  <% if charity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user_charity from being saved:</h2>

      <ul>
      <% charity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
              <h3 class="panel-title">Join PTH's Network of Charities</h3>
			 			</div>
            <div class="panel-body">
			    		<form role="form">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      Charity Name: <%= f.text_field :name %>
                      Email: <%= f.text_field :email %>
                      Password: <%= f.password_field :password %>
                      Password Confirmation: <%= f.password_field :password_confirmation %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <%= f.submit "Submit" %>
                      <%= link_to 'Back', users_path %>
                    </div>
                  </div>
                </div>
  			    	</form>
  			    </div>
  	    	</div>
      	</div>
      </div>
    </div>
<% end %>
