<div id="charities">
  <body>
    <p id="notice"><%= notice %></p>
  <div class="container text-center">
    <h1 class="display-2">CHARITIES</h1>
  </div>
  <br><br>
      <div class="container-fluid">
        <div class="jumbotron">
          <br><br><br>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Charity</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @charities.each do |charity| %>
              <tr>
                <td><%= charity.name %></td>
                <td><%= charity.email %></td>
                <td><%= charity.id %></td>
                <td><%= link_to '<button type="button">Donate</button>'.html_safe, charity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </body>
</div>
