<header class="nav-navbar">
  <%if current_user %>
  <%=link_to "Log Out", logout_path, class:"nav-link"%>
  <%else%>
  <%=link_to "Log In", login_path, class:"button"%>
  <%end%>
</header>

<div id="charity-show">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Charity</h1>
      <p>
        <strong>Name:</strong>
        <%= @charity.name %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @charity.email %>
      </p>
      <p>
        <strong>Charity:</strong>
        <%= @charity.id %>
      </p>
      <p>
      </p>
      <hr class="my-4">
      <p class="lead">
        <div class="btn btn-primary btn-lg"><%= link_to 'Back', charities_path %></div>
      </p>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card pay-with-card" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">Silver Hat</h5>
            <p class="card-text">Monthly payment of $10</p>
            <%= form_tag charges_path do %>
            <%= hidden_field_tag :plan, "silver_hat" %>

            <% if current_user %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="1000"
                data-locale="auto">
                </script>
              <% else %>
                <%= link_to "START CONTRIBUTING TODAY!", new_user_path, class: 'button btn-lg' %>
              <%end%>
            <% end %>
          </div>
        </div>
      </div>


  <div class="col">
    <div class="card pay-with-card" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Gold Hat</h5>
        <p class="card-text">Monthly payment of $20</p>
        <%= form_tag charges_path do %>
        <%= hidden_field_tag :plan, "gold_hat" %>

        <% if current_user %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="2000"
            data-locale="auto">
            </script>
          <% else %>
            <%= link_to "START CONTRIBUTING TODAY!", new_user_path, class: 'button btn-lg' %>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card pay-with-card" style="width: 18rem;">
      <div class="card-body text-center">
        <h5 class="card-title">Platinum Hat</h5>
        <p class="card-text">Monthly payment of $30</p>
        <%= form_tag charges_path do %>
        <%= hidden_field_tag :plan, "platinum_hat" %>

        <% if current_user %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="3000"
            data-locale="auto">
            </script>
          <% else %>
            <%= link_to "START CONTRIBUTING TODAY!", new_user_path, class: 'button btn-lg' %>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <!-- <div class=subscription>
    <%= form_tag charges_path do %>
      <h1>Gold Hat Plan </h1>
      <p>$20 per month</p>
      <%= hidden_field_tag :plan, "gold_hat" %>

    <% if current_user %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A month's subscription"
        data-amount="2000"
        data-locale="auto"></script>
    <% else %>
    <%= link_to "START CONTRIBUTING TODAY!", new_user_path, class: 'button btn-lg' %>
    <%end%>
    <%end%>



  <%= form_tag charges_path do %>
    <h1>Silver Hat Plan </h1>
    <p>$10 per month</p>
    <%= hidden_field_tag :plan, "silver_hat" %>
    <% if current_user %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A month's subscription"
        data-amount="1000"
        data-locale="auto"></script>
    <% else %>
    <%= link_to "START CONTRIBUTING TODAY!", new_user_path, class: 'button btn-lg' %>
    <%end%>


  <% end %>

  <%= form_tag charges_path do %>
    <h1>Platinum Hat Plan </h1>
    <p>$30 per month</p>
    <%= hidden_field_tag :plan, "platinum_hat" %>

    <% if current_user %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="A month's subscription"
      data-amount="3000"
      data-locale="auto"></script>
    <% else %>
    <%= link_to "START CONTRIBUTING TODAY!", new_user_path, class: 'button btn-lg' %>
    <%end%>



  <% end %>

</div> -->
