<header class="nav-navbar"><%=link_to "Log Out", logout_path, class:"nav-link"%></header>

<p id="notice"><%= notice %></p>
<div class="panel-lg">
<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @charity.email %>
</p>

<p>
  <strong>Charity:</strong>
  <%= @charity.id %>
</p>

<p>

</p>
<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
